/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap&subset=korean');
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

*{
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #111;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
}

/* header */
.header__wrapper{
  width: 100%;
  height: 600px;
  background: rgba(0,0,0,.5);
}
.header__wrapper__mobile{
  display: none;
}
.header__nav{
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
}
.header__nav h1{
  width: 20%;
  margin: 0 auto 30px;
  position: absolute;
  top:40%; left: 0;
} 
.header__nav h1 a img{
  width: 198px;
  height : 38px;
}
.header__nav nav{
  width:80%;
  display: flex; 
  justify-content: flex-end;
  float: right;
}
.header__nav nav a{
  margin-left: 5%;
  color: transparent;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
}
.header__nav nav a:last-child{
  padding-right: 0;
}
.header__nav nav a:after{
  content: '';
  display: block;
  width: 0%;
  height: 120%;
  background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
  border-radius: 10px;
  position: absolute;
  top: 50%; left:50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  padding: 2px 5px;
  transition: .5s;
}

.header__nav nav a:hover:after{
  width: 100%;
  opacity: 1;
}
.header__nav nav a:before{
  content:attr(data-text);
  width:120%; height:100%;
  position: absolute;
  top: 50%; left:50%;
  transform: translate(-37%, -37%);
  z-index:2;
  font-size: 1.1rem;
  color:#fff;
  animation: none;
}


.header__title{
  width: 933px; 
  margin:0 auto;
  color: #fff;
  padding: 160px 0;
  text-align: center;
}
.header__title h2{
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
  color:#fff;
}
.header__title p{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 2.222rem;
  padding-bottom: 70px;
  padding-top: 10px;
  color:#fff;
}
.header__scroll{
  background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
  border-radius: 100%;
  width: 47px; height: 47px;
  margin: -24px auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scrollAni01 1s 0s infinite ease-in-out;
}
.header__scroll img{
  padding-left: 1px;
}
.header__scroll img:first-child{
  position: absolute;
  top: 5px;
  transform: scale(0.9);
  animation: scrollAni02 1s 0s infinite ease-in-out;
}
.header__scroll img:last-child{
  position: absolute;
  top: -5px;
  transform: scale(0.8);
  animation: scrollAni03 1s 0s infinite ease-in-out;
}
@keyframes scrollAni01{
  0%{margin: -24px auto;}
  50%{margin: -10px auto;}
  100%{margin: -24px auto;}
}
@keyframes scrollAni02{
  0%{top:5px}
  50%{top: 10px;}
  100%{top: 5px;}
}
@keyframes scrollAni03{
  0%{top:-5px}
  50%{top: 0px;}
  100%{top: -5px;}
}
/* header-end */

/* footer */
footer{
  box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
}
.footer__wrapper{
  padding: 30px 0;
  width: 933px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__wrapper>img{
  width: 198px;
}
.footer__sns{
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.footer__sns img{
  width: 37px;
}
/* footer-end */

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) { /*스타일입력*/}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) { 
  /* header */
.header__wrapper{
  width: 100%;
  height: 600px;
  background: rgba(0,0,0,.5);
  display: none;
}

.header__wrapper__mobile{
  width: 100%;
  margin:0 auto;
  color: #fff;
  text-align: center;
  height: 500px;
  background: rgba(0,0,0,.5);
  display: block;
}

.header__menu__mobile{
  width: 100%;
  height: 50px;
  background: #1e2329;
  position: fixed;
  box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
  z-index: 900;
}

.header__menu__mobile button{
  position: absolute;
  left: 10px; top:50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border: none;
  background: none;
}

.header__menu__mobile button span{
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header__menu__mobile button span:first-child{
  width: 60%;
}
.header__menu__mobile img{
  margin-top: 10px;
  width: 35%;
}
.header__menuContent__mobile{
  width: 70%;
  height: 100%;
  background: #1e2329;
  position: fixed;
  left: -100%;
  z-index:901;
  transition: .5s;
}
.header__menuContent__mobile nav{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
.header__menuContent__mobile nav a{
  line-height: 50px;
  width: 100%;
  margin: 3px auto;
  padding: 0 20%;
  color: #fff;
  text-align: left;
  font-weight: bolder;
  position: relative;
}
.header__menuContent__mobile nav a:first-child {
  border-bottom: none;
}
.header__menuContent__mobile nav a:first-child img{
  width: 80%;
}
.header__menuContent__mobile nav a i{
  color: rgba(255, 255, 255,0.4);
  font-size: 0.8rem;
  position: absolute;
  top: 50%; right:20%;
  transform: translate(0,-50%);
}
.header__menuContent__background{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: none;
  z-index: 900;
}

.header__title__mobile h2{
  width: 80%;
  margin: 0 auto;
  padding-top: 150px;
  font-weight: 600;
  font-size: 1.8em;
  line-height: 1.4em;
  word-break: keep-all;
  color:#fff;
}
.header__title__mobile p{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  padding-bottom: 30px;
  padding-top: 10px;
  color:#fff;
}
.header__title__mobile strong{
  color: #fff;
  font-weight: bold;
  font-size: 6rem;
  font-family: 'Noto Sans KR', sans-serif;
}
.header__scroll{
  background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
  border-radius: 100%;
  width: 47px; height: 47px;
  margin: -24px auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scrollAni01 1s 0s infinite ease-in-out;
}
.header__scroll img{
  padding-left: 1px;
}
.header__scroll img:first-child{
  position: absolute;
  top: 5px;
  transform: scale(0.9);
  animation: scrollAni02 1s 0s infinite ease-in-out;
}
.header__scroll img:last-child{
  position: absolute;
  top: -5px;
  transform: scale(0.8);
  animation: scrollAni03 1s 0s infinite ease-in-out;
}
@keyframes scrollAni01{
  0%{margin: -24px auto;}
  50%{margin: -10px auto;}
  100%{margin: -24px auto;}
}
@keyframes scrollAni02{
  0%{top:5px}
  50%{top: 10px;}
  100%{top: 5px;}
}
@keyframes scrollAni03{
  0%{top:-5px}
  50%{top: 0px;}
  100%{top: -5px;}
}
/* header-end */

/* footer */
footer{
  box-shadow: rgba(0,0,0,.2) 6px 5px 20px;
}
.footer__wrapper{
  padding: 8% 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__wrapper>a img{
  width: 70%;
}
.footer__sns{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer__sns img{
  width: 60%;
}
/* footer-end */

}