@import url('common.css');


/* header */

header{
    background: url("../img/subbackimg_01.jpg") no-repeat center 100% / cover;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
.header__wrapper nav a:nth-of-type(1):after{
    width: 100%;
    opacity: 1;
}
/* header-end */

/* section */
section{
    width: 60%;
    margin: 100px auto;
}
section>h4{
    font-weight: lighter;
    font-size: 1.667rem;
    color: #f15166;
    margin: 10px 0 8px;
    letter-spacing: 0.5rem;
    text-align: center;
}
section>strong{
    display: block;
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    color: #f15166;
    text-align: center;
}
.image__box{
    margin: 100px auto;
    width:100%;
    height: 400px;
    background: url("../img/backimg_01.jpg") no-repeat center/ cover;
    margin-bottom: 100px;
    position: relative;
}
.image__box:after{
content: '';
width: 100%;
height: 10px;
background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
position: absolute;
bottom: 0;
}
article{
    width: 80%;
    margin: 0 auto;
}
article h3{
    opacity: 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 150px;
    line-height: 2rem;
    margin-bottom: 20px;
    text-align: center;
    visibility: visible;
}
article p {
    opacity: 0;
    font-size:1rem;
    line-height: 2rem;
    margin-top: 150px;
    margin-bottom: 40px;
    text-align: center;
    word-break: keep-all;
    visibility: visible;
}
article h3.active{
    animation: scrollani 2s forwards;
}
article p.active{
    animation: scrollani 2s forwards;
}
@keyframes scrollani{
    0%{
        margin-top: 150px;
    }
    20%{
        margin-top: -8px;
    }
    40%{
        margin-top: 8px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
/* section-end */

@media (max-width:1024px){}

@media (max-width:768px){}

@media (max-width:480px){
    
/* header */
header{
    background: url("../img/subbackimg_01.jpg") no-repeat center top / 200% 600px;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
.header__wrapper nav a:nth-of-type(1):after{
    width: 100%;
    opacity: 1;
}
/* header-end */
    .header__title__mobile h2{
        width: 80%;
        margin: 0 auto;
        padding-top: 200px;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 1.4em;
        word-break: keep-all;
        color:#fff;
      }
      .header__title__mobile p{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 100;
        font-size: 1.6em;
        padding-bottom: 30px;
        padding-top: 10px;
        color:#fff;
      }
    section{
        width: 90%;
        margin: 100px auto;
    }
    section>h4{
        font-weight: lighter;
        font-size: 1.667rem;
        color: #f15166;
        margin: 10px 0 8px;
        letter-spacing: 0.5rem;
        text-align: center;
    }
    section>strong{
        display: block;
        font-weight: bold;
        letter-spacing: 0.3rem;
        font-size: 1rem;
        color: #f15166;
        text-align: center;
    }
    .image__box{
        margin: 80px auto;
        width:100%;
        height: 280px;
        background: url("../img/backimg_01.jpg") no-repeat center/ cover;
        margin-bottom: 100px;
        position: relative;
    }
    .image__box:after{
    content: '';
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
    position: absolute;
    bottom: 0;
    }
    article{
        width: 100%;
        margin: 0 auto;
    }
    article h3{
        width: 95%;
        opacity: 0;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 150px;
        line-height: 2rem;
        margin-bottom: 20px;
        text-align: center;
        visibility: visible;
        word-break: keep-all;
    }
    article p {
        opacity: 0;
        font-size:1rem;
        line-height: 2rem;
        margin-top: 150px;
        margin-bottom: 40px;
        text-align: center;
        word-break: keep-all;
        visibility: visible;
    }
    article h3.active{
        animation: scrollani 2s forwards;
    }
    article p.active{
        animation: scrollani 2s forwards;
    }
    @keyframes scrollani{
        0%{
            margin-top: 150px;
        }
        20%{
            margin-top: -8px;
        }
        40%{
            margin-top: 8px;
        }
        100%{
            opacity: 1;
            margin-top: 0;
        }
    }
}