@import url('common.css');


/* header */

header{
    background: url("../img/subbackimg_04.jpg") no-repeat center 100% / cover;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
.header__wrapper nav a:nth-of-type(4):after{
    width: 100%;
    opacity: 1;
}
/* header-end */

/* section */
section{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
section iframe{
    padding-top: 80px;
    padding-bottom: 80px;
}

/* section-end */

@media (max-width:1024px){}

@media (max-width:768px){}

@media (max-width:480px){

    /* header */

header{
    background: url("../img/subbackimg_04.jpg") no-repeat center top / 200% 600px;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
.header__wrapper nav a:nth-of-type(4):after{
    width: 100%;
    opacity: 1;
}
.header__title__mobile h2{
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1.4em;
    word-break: keep-all;
    color:#fff;
  }
  .header__title__mobile p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 1.6em;
    padding-bottom: 30px;
    padding-top: 10px;
    color:#fff;
  }
/* header-end */

/* section */
section{
    width: 95%;
    margin: 0 auto;
    position: relative;
}
section iframe{
    padding-top: 80px;
    padding-bottom: 80px;
}

}