@import url('common.css');


/* header */

header{
    background: url("../img/subbackimg_06.jpg") no-repeat center 100% / cover;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
.header__wrapper nav a:nth-of-type(6):after{
    width: 100%;
    opacity: 1;
}
/* header-end */

/* section */
section{
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: 1000px;
}
section>h3{
    text-align: center;
    line-height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 10px;
}
section>p{
    text-align: center;
    line-height: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-bottom: 100px;
}
.map__wrapper{
    width: 100%;
    height: 600px;
    background: #3424c3;
    border-radius: 0 10px 10px 10px;
    position: relative;
    z-index: 4;
}
.map__text{
    position: relative;
    float: left;
    width: 40%;
}
.map__way{
    height: 600px;
    overflow: hidden;    
    padding-top: 140px;
    padding-left: 30px;
}
.map__way img{
    display: block;
    height:20%;
    padding-bottom: 20px;
}
.map__way strong{
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.667rem;
    color:#fff;
    letter-spacing: 0.1rem;
    display: inline-block;
}
.map__way p{
    display: block;
    color: #fff;
    font-weight: lighter;
    font-size: 1.1rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.4rem;
    color:#fff;
    letter-spacing: 0.05rem;
    padding-bottom: 20px;
}
.map__way p:nth-of-type(1){
    display: inline-block;
}
.map__way h4{
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: lighter;
    font-size: 2.3rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height:1.3em;
    color:#fff;
    letter-spacing: 0.1rem;
}


.map__stage{
    height: 600px;
    overflow: hidden;
    padding-top: 140px;
    padding-left: 30px;
}
.map__stage img{
    display: block;
    height:20%;
    padding-bottom: 20px;
}
.map__stage strong{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.667rem;
    color:#fff;
    letter-spacing: 0.1rem;
    padding-bottom:50px;
}
.map__stage span{
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height:1.3em;
    color:#fff;
    letter-spacing: 0.1rem;
    word-break: keep-all;
    padding-bottom: 10px;
}
.map__stage p{
    display: block;
    color: #fff;
    font-weight: lighter;
    font-size: 1.3rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.4rem;
    color:#fff;
    letter-spacing: 0.1rem;
    word-break: keep-all;
    padding-bottom: 20px;
}
.map__stage p:nth-of-type(1){
    display: inline-block;
}

.map__parking{
    height: 600px;
    overflow: hidden;
    padding-top: 60px;
    padding-left: 30px;
}

.map__parking strong{
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.667rem;
    color:#fff;
    letter-spacing: 0.1rem;
    padding-bottom:20px;
    display: inline-block;
}
.map__parking p{
    display:block;
    color: #fff;
    font-weight: lighter;
    font-size: 1.1rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.4rem;
    color:#fff;
    letter-spacing: 0.05rem;
}
.map__parking p:nth-of-type(1){
    display: inline-block;
}
.map__parking p.info{
    padding-top: 6px;
    font-size: 0.8rem; 
    line-height: 1.1rem;
}
.map__parking em{
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height:1.3em;
    color:#fff;
    letter-spacing: 0.1rem;
    padding-bottom: 10px;
    word-break: keep-all;
    padding-top: 10px;
}

.select{
    display: none;
}
.select.active{
    display: block;
}

.map__image{
    width:60%;
    height: 600px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.map__image img{
    width: 90%;
}
.map__tagbox{
    display: flex;
}
.map__tagbox button{
    outline: none;
    cursor: pointer;
    width: 25%;
    height: 40px;
    border:none;
    background:#fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 300;
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    transition: .3s;
    position: absolute;
    z-index: 3;
    top: 0; left: 0;
    transform: translate(0,-100%);
    border:2px solid #333;
    border-bottom: none;
    padding-top: 3px;
}
.map__tagbox button:nth-of-type(2){
    transform: translate(90%,-100%);
    z-index: 2;
}
.map__tagbox button:nth-of-type(3){
    transform: translate(180%,-100%);
    z-index: 1;
}
.map__tagbox button:hover{
    font-size: 1.3rem;
    font-weight: 600;
}
.map__tagbox button.active{
    font-size: 1.3rem;
    font-weight: 600;
    z-index: 3;
    background: #3424c3;
    color: #fff;
}

/* 
    width: 50%;
    height: 600px;
    background: url('../img/stage_map.jpg') no-repeat center / cover;
}



.text__wrapper__second{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.text__wrapper__second h3{
    text-align: center;
    line-height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.text__wrapper__second p{
    text-align: center;
    line-height: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
} */



/* section-end */

@media (max-width:1024px){}

@media (max-width:768px){}

@media (max-width:480px){}