@import url('common.css');


/* header */

header{
    background: url("../img/subbackimg_03.jpg") no-repeat center 100% / cover;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 6px 10px 50px;
    background-attachment: fixed;
}
.header__wrapper nav a:nth-of-type(4):after{
    width: 100%;
    opacity: 1;
}
/* header-end */

/* section */
section{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
section iframe{
    padding-top: 80px;
    padding-bottom: 80px;
}

section .ticket_nav{
    width: 600px;
    margin: 130px auto 70px;
    display: flex;
    justify-content: center;
}
section .ticket_nav a{
    line-height: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding: 0 80px;
    border-left: 1px solid rgba(0,0,0,.4);
    border-right: 1px solid rgba(0,0,0,.1);
}
section .ticket_nav a:first-child{
    border-left: none;
}
section .ticket_nav a:last-child{
    border-right: none;
}
section .main_content{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
section .main_content:last-child{
    display: none;
}
section .main_content .content{
    width: 100%;
    padding-top: 10px;
}
section .main_content .content .title{
    width: 100%;
    margin: 30px auto;
}
section .main_content .content .title h3{
    text-align: center;
    line-height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 20px;
}
section .main_content .content .title p{
    text-align: center;
    padding:10px 0;
    line-height: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}
section .main_content .content .ticket_link{
    width: 50%;
    padding: 15px 0;
    margin: 50px auto 80px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(237, 47, 86), rgb(246, 116, 119));
}
section .main_content .content .ticket_link a{
    text-align: center;
    line-height: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 3px 50px;
    position: relative;
    border-left: 1px solid rgba(0,0,0,.3);
    border-right: 1px solid rgba(255,255,255,.3);
}
section .main_content .content .ticket_link .fullsize_a{
    width: 100%;
}
section .main_content .content .ticket_link a:first-child{ 
    border-left: none;
}
section .main_content .content .ticket_link a:last-child{ 
    border-right: none;
}

section .main_content .content ul{
    margin: 0 auto;
}
section .main_content .content ul li{
    padding:18px 0 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 150px;
    opacity: 0;
}
section .main_content .content ul li:nth-of-type(2n){
    padding:5px 0 20px;
}
section .main_content .content ul li strong{
    text-align: center;
    line-height: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}
section .main_content .content ul li em{
    text-align: center;
    line-height: 2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: lineheight .5s;
}
section .main_content .content ul li p{
    text-align: center;
    line-height: 2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    transition: lineheight .5s;
    word-break: keep-all;
}
section .main_content .content ul li:last-child{
    width: 70%;
}
section .main_content .content ul li.active{
    animation: scrollani 2s forwards;
}
@keyframes scrollani{
    0%{
        margin-top: 150px;
    }
    20%{
        margin-top: -8px;
    }
    40%{
        margin-top: 8px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
/* section-end */

@media (max-width:1024px){}

@media (max-width:768px){}

@media (max-width:480px){}